//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	// display: inline-flex;
	padding: rem(8) rem(32);
  @extend %cuf;
  font-weight: 700;
  line-height: 175%;
  background-color: $mainHover;
  color: $bg-color;
  transition: background-color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
      background-color: rgb(228, 223, 124);
		}
	}
	&._fw {
		width: 100%;
	}
}
